*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: wheat;
}

div.card{
    width: 30%;
    margin: 15px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(234, 231, 226);
}
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-title{
    font-size: 30px;
    background-color: rgb(234, 231, 226);
}
.card-img-top{
    background-color: gray;
    border-radius: 15px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border: 0px;
}